/* Spacing System (px) 
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 
*/
/* Font Sizes (px) 
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* Color 
Text: #030712
Secondary: #aeb2ba
Background: #fff
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Work Sans", sans-serif;
  letter-spacing: -2px;
  color: #030712;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

.btn {
  border-radius: 20px;
  border: 1px solid #3d3d4e;
  transition: all 0.3s;
}

.btn-white {
  background-color: #fff;
  color: #030712;
}

.btn-white:hover {
  background-color: #030712;
  color: #fff;
}

.btn-black {
  background-color: #030712;
  color: #fff;
}

.btn-black:hover {
  background-color: #fff;
  color: #030712;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.8rem;
  background-color: #fff;
}

.logo {
  font-size: 3.2rem;
  color: #030712;
  font-weight: 500;
}

.logo span {
  color: #aeb2ba;
}

.main-nav-list {
  display: flex;
  gap: 1.6rem;
  font-size: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #3d3d4e;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #aeb2ba;
}

.main-nav-btn {
  padding: 0.8rem 1.2rem;
}

/* Welcome Section */

#welcome-section {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 160rem;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0 4.8rem;
  margin: 0 auto;
}

.welcome-heading {
  font-size: 96px;
  line-height: 1;
  margin-bottom: 3rem;
}

.welcome-heading span {
  color: #aeb2ba;
}

.welcome-button {
  font-size: 2.4rem;
  padding: 1.4rem 3rem;
  margin-bottom: 3rem;
}

.social-links {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-decoration: underline;
  text-underline-offset: 3px;
  letter-spacing: 1.1px;
}

.social-link:link,
.social-link:visited {
  color: #030712;
  transition: all 0.3s;
}

.social-link:hover,
.social-link:active {
  color: #aeb2ba;
}

/* Projects Section */

#projects {
  padding: 0 4.8rem;
  margin-bottom: 9.6rem;
}

.projects-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4rem;
  width: 100%;
  margin: 0 auto;
}

.project-card {
  position: relative;
  transition: all 0.5;
  width: 100%;
  height: 100%;
}

.project-image {
  display: block;
  object-fit: cover;
  height: calc(100% - 6.8rem);
  width: 100%;
  border-radius: 20px;
  margin: auto;
}

.project-text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: transparent;
}

.project-title {
  font-size: 2.4rem;
  color: #030712;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.project-card:hover .project-text-overlay {
  opacity: 1;
}

.project-card:hover .project-image {
  filter: blur(2px);
  opacity: 0.7;
}

/* Footer */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4.8rem;
  background-color: #fff;
}

.copyright {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: normal;
}

.footer-social-links {
  display: flex;
  font-size: 2.4rem;
  color: #030712;
  gap: 1.4rem;
}

.footer-icon {
  color: #030712;
  transition: all 0.3s;
}

.footer-icon:hover {
  color: #aeb2ba;
}

/* Media Queries */

@media (max-width: 44em) {
  #welcome-section {
    padding: 0 3.2rem;
  }

  .welcome-heading {
    font-size: 8rem;
  }
}
